.about-me{
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  background-image:url('./../../../../assets/1x/backgroundAbout.png') ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  overflow: hidden;
}

.about-me-container{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center; 
  gap: 20px; 
  height: 100vh; 
  padding: 0px; 
  box-sizing: border-box; 
  }

h1{
  font-family: 'title';
  font-size: 60px;
  color:rgb(167, 24, 254);

}



.column-1 {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 20px; 
}

.column-1 p{
  font-family: 'text-p';
  font-size: 1.2rem; 
  letter-spacing: 2px;
  color: aliceblue;
  text-align: center;
  margin-top: auto; 
  max-width: 400px; 
  margin: 0 auto; 
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}

.column-2 {
  display: flex;
  justify-content: center; 
  align-items: center;

}


.about-me-content p {
  color: aliceblue;

  grid-column: 1;
  line-height: 1.8;
  font-size: 1.2rem;
  max-width: 90%;
}

.image-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.profile-image {
  max-width: 100%;
  max-height: 300px; 
  border-radius: 50%; 
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .about-me-container {
    grid-template-columns: 1fr; 
    gap: 10px;
  }

  .column-1 {
    align-items: center; 
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    height: auto; 
  }

  .about-me-content {
    margin-left: 0 1rem;
    text-align: center;
  }

  .about-me-image-container {
    margin-top: 1rem;
  }


}



/*.column-1 { grid-area: 2 / 2 / 3 / 1; }
.column-2 { grid-area: 1 / 2 / 2 / 3; }*/








