<section class="projects">

  <h1 class="title">Projects</h1>

  <div class="grid-container">



      <div class="image-item image-item1">
        <img src="../../../../assets/imgProyectsPinda.png" alt="Descripción 1">
        <p class="project-name">Pinda</p>
        <p class="caption">Diseño y Creación de Papelería</p>
        <p class="description">Inició en 2017 con la creación de interiores como hobby, lo que dio paso a la necesidad de diseñar.
          A partir de allí, comenzó la capacitación y el estudio de mercado, lo que dio vida a varias ideas y
          necesidades. Actualmente, se crean productos personalizados, que reflejan la formación continua que
          responde a las demandas del mercado.
        </p>
      </div>


      <div class="image-item image-item2">
        <img src="../../../../assets/imgProyectsJS.png" alt="Descripción 2">
        <p class="project-name">To-Do List</p>
        <p class="caption">Proyecto JavasCrip</p>
        <p class="description">Resultado de capacitación en JavaScript.
          Con este proyecto consolidé mis conocimientos en manipulación del DOM, la programación orientada a objetos,
          asincronía, manejo de errores, API’s y promesas .

        </p>
      </div>


      <div class="image-item image-item3">
        <img src="../../../../assets/imgProyectsVinculum.png" alt="Descripción 3" id="toDoList">
        <p class="project-name">Vinculum</p>
        <p class="caption">Asesoría Educativa Integral a Distancia</p>
        <p class="description">En mi labor docente, observé que los alumnos
          enfrentan grandes dificultades con las materias exactas, producto de
          clases mal planificadas. Vínculum nace con la meta de demostrar que las
          ciencias exactas son para todos, imponiendo una nueva metodología de enseñanza.</p>
      </div>



  </div>

</section>
